<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
    
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>
    <div class="bg-info text-center">
        <div class="bg-info text-center">
            <!-- <h1>法语——开启加拿大之门的金钥匙</h1> -->
            <div class="about-us">
                <div class="acontainer">
                    <h1>中西教育</h1>
                </div>
            </div> 
            <div class="card mb-3" style="margin: 5%; padding: 8%;">
                <div class="row no-gutter" style="margin-top: 10%;">
                    <div class="col-md-6">
                        <img src="../images/关于我们boudha-road.jpg" class="card-img shadow-lg card-img-effect" alt="..." style="width:90%;height: 90%; padding: 3%;">
                    </div>
                    <div class="col-md-6 align-items-center">
                      <div class="card-body" style="padding: 5%;">
                            <h5 class="card-title" style="font-size: 30px;">一路修为</h5>
                            <p class="card-text text-left">中西教育的名字取自成语“学贯中西”。不要以为这是个遥不可及的高度，其实出国本身就是一个继续学习的过程。</p>
                            <p class="card-text text-left">学习并不是只有坐到教室里才叫学习，学习渗透在生活的每个角落。去细心观察新的环境，理解不同的文化，学习他族的语言，熟悉陌生的城市。可以说，只要你踏上了西行的道路，你就开始了学贯中西之旅。</p>
                            <p class="card-text text-left">这是一条永无止境的路途，行者们惟有谦恭好学才会遇到繁花似锦、一路芬芳。到那时，回首来时路，你不仅会为自己的一路修为感动，还能激励到后来人……</p>
                        </div>
                    </div>
    
                </div>
                <div class="row no-gutter" style="margin-top: 10%;">
                    <div class="col-md-6 align-items-center">
                      <div class="card-body" style="padding: 5%;">
                          <h5 class="card-title" style="font-size: 30px;">一粒米和一颗豆</h5>
                          <p class="card-text text-left">中西教育的创办人Michelle（自称米姐）是魁省PEQ（魁北克经验移民）政策的直接受益人。</p>
                          <p class="card-text text-left">拜此项目所赐，米姐在不惑之年带着9岁的儿子(豆哥)成功登陆加拿大成为一名全日制留学生，从此开始了母子双双把学上的苦乐年华。</p>
                          <p class="card-text text-left">在经过一年多的紧张学习后，米姐顺利获得了魁省省提名(CSQ，即魁省甄选合格证)，豆哥经过努力也成功考取了当地一所著名中学。</p>
                          <p class="card-text text-left">一粒米，一颗豆，经过一番摸爬滚打之后，终于在这片梦想中的乐土扎下根来，并正朝着他们的理想逐步靠近。</p>
                          <p class="card-text text-left">你看，微不足道的豆米如沧海一粟，也能实现自己的梦想，你一定更行</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../images/关于我们mon-son-shore.jpg" class="card-img shadow-lg card-img-effect" alt="..." style="width:90%;height: 90%; padding: 3%;">
                    </div>
                </div> 
                <div class="row no-gutter" style="margin-top: 10%;">
                    <div class="col-md-6">
                        <img src="../images/关于我们-selfconfidence.jpg" class="card-img shadow-lg  card-img-effect" alt="..." style="width:90%;height: 90%; padding: 3%;">
                    </div>
                    <div class="col-md-6 align-items-center">
                      <div class="card-body" style="padding: 5%;">
                            <h5 class="card-title" style="font-size: 30px;">世间所有的相遇都是久别重逢</h5>
                            <p class="card-text text-left">也许你是志得意满、梦想着更上层楼的青年才俊<br>
                                也许你遭遇到事业的瓶颈、正在奋力突围<br>
                                也许你就是一个慈爱的母亲<br>
                                急需为孩子寻找洁净的空气<br>
                                安全的食品和宽松的发展环境<br>
                                无论你是哪一个、我们都是同路人<br>
                                米姐希望<br>
                                自己在出国路程中的各种积累<br>
                                能够帮助到你和你的家人<br>
                                愿我们的服务<br>
                                能搭建起一座坚实的桥梁<br>
                                渡你一路畅通到北美……</p>
                        </div>
                    </div>
    
                </div> 
                <section class="contact-background">
                    <div class="container contact-container">
                        <div class="row">
                            <div class="col">
                                <div class="col contact-col-bg">
                                    <div class="elementor-widget-wrap">
                                        <h2 class="elementor-heading-title elementor-size-default">欢迎与我们联系</h2>		
                                        <p>欢迎留下您的联系方式和需求，我们会在第一时间回复您。<br><br></p>
                                        <form>
                                            <div class="form-row">
                                              <div class="col">
                                                <input type="text" class="form-control contact-info" placeholder="姓名" style="font-size: 20px; font-weight: bolder; background-color: aliceblue; color: black;">
                                              </div>
                                              <div class="col">
                                                <input type="text" class="form-control contact-info" placeholder="邮箱" style="font-size: 20px; font-weight: bolder; background-color: aliceblue; color: black;">
                                              </div>
                                            </div>
                                            <div class="form-row" style="margin-top: 5px;">
                                                <div class="col" style="font-weight: bolder;">
                                                    <textarea class="form-control contact-info" id="contact-form-textarea"" rows="3" placeholder="您的留言"  style="font-size: 20px; font-weight: bolder; background-color: aliceblue; color: black;"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-row" style="margin-top: 15px;">
                                                <div class="col" style="font-weight: bolder;">
                                                    <button type="submit" class="btn btn-lg btn-warning" style="width: 40%;">  提交  </button>
                                                </div>        
                                            </div>
                                          </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>            
            </div>


        </div>
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>