<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
    
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>
    <div class="bg-info text-center">
        <h1>博客</h1>
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>