<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>
    <div class="bg-info text-center">
        <div class="compus-boards">
            <div class="acontainer">
                <div class="" style="font-size: 24px; font-weight: bolder;">
                    <h1>我们的校园</h1>
                </div>
            </div>
        </div> 
        <div class="card mb-3" style="margin: 5%; padding: 8%;">
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6">
                    <img src="../images/EMSB2-1.jpg" class="card-img shadow-lg" alt="..." style="width:90%;height: 90%; padding: 3%;">
                </div>
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <div class="elementor-icon text-info">
                        <i class="fa fa-graduation-cap primary" aria-hidden="true"></i>
                      </div>
                      
                      <h5 class="card-title" style="font-size: 30px;">蒙特利尔英语教育局(EMSB)</h5>
                      <p class="card-text text-left">蒙特利尔英语教育局成立于1998年，是目前魁北克省最大的英语教育局，下辖77所学校和教学中心，提供中小学英语或双语教育和成人职业培训，在册学生44000余人。</p>
                      <p class="card-text text-left">该教育局有6家职业教育中心，有厨师、美容美发、计算机支持、工业制图、平面出版、室内设计等多个项目，其中很多是满足PEQ移民条件的1800学时DEP文凭项目。因为是英语授课，学校又都在蒙特利尔市内，该教育局也是中国学生的首选院校。</p>
                  </div>
                </div>

            </div>
            <div class="row no-gutter" style="height: 70vh; margin-top: 20%;">
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                    <div class="elementor-icon text-info">
                        <i class="fa fa-graduation-cap primary" aria-hidden="true"></i>
                      </div>
                      <h5 class="card-title" style="font-size: 30px;">新边界教育局(NFSB)</h5>
                      <p class="card-text text-left">新边界教育局英文全称是 New Frontiers School Board，隶属魁省教育部，坐落在风景迷人的圣劳伦斯河谷Chateauguay地区，与美国紧邻，距蒙特利尔市区约20分钟车程。</p>
                      <p class="card-text text-left">坐落在静谧而安全的蒙城市郊，新边界教育局下辖10所小学，2所中学和3家成人职业教育中心，提供近20个职业教育项目，春、秋、冬季均可入学。</p>
                    </div>
                </div>
                <div class="col-md-6" >
                    <img src="../images/NFSB.jpg" class="card-img shadow-lg" alt="..." style="width:90%;height: 90%; padding: 3%;">
                </div>
            </div>
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6">
                    <img src="../images/WQSB-2.jpg" class="card-img shadow-lg" alt="..." style="width:90%;height: 90%; padding: 3%;">
                </div>
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <div class="elementor-icon text-info">
                        <i class="fa fa-graduation-cap primary" aria-hidden="true"></i>
                      </div>
                      
                      <h5 class="card-title" style="font-size: 30px;">魁北克西公立英语教育局WQSB</h5>
                      <p class="card-text text-left">魁北克西公立英语教育局英文全称 Western Quebec School Board, 简称WQSB。该局直属于魁北克教育部，下辖13所小学和5所职业教育中心。</p>
                      <p class="card-text text-left">魁西教育局位于渥太华河北侧，对岸即是加拿大首都渥太华。地处魁省与安省交界，使得在此读书的学子们坐拥魁省与安省的政策优势，可谓占尽天时地利。</p>
                  </div>
                </div>

            </div>
            <div class="row no-gutter" style="height: 70vh; margin-top: 20%;">
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                    <div class="elementor-icon text-info">
                        <i class="fa fa-graduation-cap primary" aria-hidden="true"></i>
                      </div>
                      <h5 class="card-title" style="font-size: 30px;">东方公立英语教育局(ETSB)</h5>
                      <p class="card-text text-left">东方公立英语教育局英文全称Eastern Townships School Board, 简称ETSB，隶属于魁北克教育部，所在地区与美国接壤，曾是1976年蒙特利尔奥运会的马术和自行车比赛场地，2005年还举办过骑马比赛，距离蒙特利尔有40分钟至1个小时的车程。</p>
                      <p class="card-text text-left">该教育局有2家成人职业培训中心，提供注册助理护士、会计、文秘、机械、烹饪等多个职业教育项目。</p>
                    </div>
                </div>
                <div class="col-md-6" >
                    <img src="../images/ETSB-1.jpg" class="card-img shadow-lg" alt="..." style="width:90%;height: 90%; padding: 3%;">
                </div>
            </div>            
        </div>
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>