<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
    
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>
    <div class="bg-info text-center">
        <h1>游学夏令营</h1>
        <div class="compus-head bg-light">
            <div class="compus-headline">
            </div>

            <div class="compus-text">
                <div class="row justify-content-md-center">
                    <div class="col-md-3 acontainer">
                        <!-- help -->
                        <div class="elementor-element elementor-element-75506ac elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="75506ac" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon">
                                        <i class="fa fa-star star-green" aria-hidden="true"></i>				</span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                        <h3 class="elementor-icon-box-title">
                                            <span>与当地学生混班</span>
                                        </h3>
                                        <p class="elementor-icon-box-description">麦吉尔大学夏令营最大的优势是，国际生直接插班到当地孩子的夏令营，从而体会与留学一样的环境，绝非一般游学团可比。麦大夏令营自创建几十年来深受当地家庭追捧，是了解北美文化的绝佳之地。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 acontainer">
                        <!-- help -->
                        <div class="elementor-element elementor-element-75506ac elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="75506ac" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon">
                                        <i class="fa fa-star star-red" aria-hidden="true"></i>				</span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                        <h3 class="elementor-icon-box-title">
                                            <span>英语强化课程</span>
                                        </h3>
                                        <p class="elementor-icon-box-description">根据学生的英语基础和需求，我们还提供英语强化课程。师资均为有资质的英语教师。该班将允许非英语母语的营员们在参加探索夏令营课程的同时，发掘并强化他（她）们的英语语言技能。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3  acontainer">
                        <!-- help -->
                        <div class="elementor-element elementor-element-75506ac elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="75506ac" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon">
                                        <i class="fa fa-star star-yellow" aria-hidden="true"></i>				</span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                        <h3 class="elementor-icon-box-title">
                                            <span>为高中生特制升学探路营</span>
                                        </h3>
                                        <p class="elementor-icon-box-description">为了帮助高中学生了解大学生活，我们为16—18岁的青少年特别定制升学探路之旅。营员们将与加拿大当地的高中生一起组队，分别到麦吉尔大学的相关院系进行参观、访问及多种互动。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        
        <div class="compus-high">
            <div class="acontainer">
                <div class="">
                    <h1>青年组：升学探路营（16—18岁）</h1>
                    <h3>三大方向全面考察</h3>
                </div>
            </div>
        </div> 
        <div class="card mb-3" style="margin: 5%; padding: 5%;">
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">科学探索</h5>
                      <p class="card-text">科学的世界是如此广阔高远，准备好乘坐这趟目不暇接的科学过山车吧！在这里，我们将参观蒙特利尔最先进的研究设施，与业内的优秀科学家们交流心得。加入麦吉尔探索夏令营，与我们一同访问当地科学、工程、医学、农业等专业的教授和研究生们</p>
                  </div>
                </div>
                <div class="col-md-6">
                    <img src="../images/Macgill-Steam-camp.jpg" class="card-img shadow-lg" alt="..." style="height: 480px; padding: 5%;">
                  </div>
            </div>
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6">
                  <img src="../images/Macgill-art-camp-1024x1024.jpg" class="card-img shadow-lg" alt="..." style="height: 480px; padding: 5%;">
                </div>
                <div class="col-md-6">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">艺术探索</h5>
                      <p class="card-text">蒙特利尔是艺术之都，一直享有“北美小巴黎”的盛誉。这里从城市建筑到市井生活，无不浸润在优雅浪漫的艺术气息之中。营员们将在音乐家Leon老师的带领下，参观博物馆、画廊、剧院、电影和音乐工作室以及户外音乐表演场地等，总之，把蒙特利尔翻个遍。</p>
                  </div>
                </div>
            </div> 
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">商学院探索</h5>
                      <p class="card-text">坐落在圣劳伦斯河畔，蒙特利尔是一个独特的商业中心，融合了传统的商业实践和充满活力的创业氛围。 我们的商业探索之旅让营员们有机会在了解加拿大商业理论、实践和文化的同时也能探索城市的方方面面。</p>
                  </div>
                </div>
                <div class="col-md-6">
                    <img src="../images/Macgill-Mba-camp-1024x1024.jpg" class="card-img shadow-lg" alt="..." style="height: 480px; padding: 5%;">
                  </div>
            </div>              
        </div>       
        <!-- 本地组 -->
        <div class="compus-local">
            <div class="acontainer">
                <div class="">
                    <h1>少年组：本地插班营（9—16岁）</h1>
                </div>
            </div>
        </div> 
        <div class="card mb-3" style="margin: 5%; padding: 5%;">
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6">
                    <img src="../images/Macgill-Camp5-1024x1024.jpg" class="card-img shadow-lg" alt="..." style="height: 480px; padding: 5%;">
                </div>
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">浸入式插班营</h5>
                      <p class="card-text">报名后营地老师会对国际营员进行英语测试，如果顺利通过测试，即可直接插班到本地学生夏令营，与当地师生亲密接触，获得真是的留学体验，迅速提升英语理解与表达能力。参观包括蒙特利尔名胜古迹及市井生活的方方面面。充分借助麦吉尔大学的便利，拥有丰富的课程选择，亲历麦大各科系教授、讲师的讲解。开拓国际视野，结交各国朋友。</p>
                  </div>
                </div>

            </div>
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">英语强化提高营</h5>
                      <p class="card-text">报名后营地老师会对国际营员进行英语测试，如果没能通过测试，国际营员可以参加我们特别组织的英语强化营，每天上午上课，下午参加到本地营中活动，迅速提升英语理解与表达能力。参观包括蒙特利尔名胜古迹及市井生活的方方面面。充分借助麦吉尔大学的便利，拥有丰富的课程选择，亲历麦大各科系教授、讲师的讲解。开拓国际视野，结交各国朋友。</p>
                  </div>
                </div>
                <div class="col-md-6">
                    <img src="../images/macgill-camp9.jpg" class="card-img shadow-lg" alt="..." style="height: 480px; padding: 5%;">
                </div>
            </div>
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6">
                  <img src="../images/macgille-camp6-1024x1024.jpg" class="card-img shadow-lg" alt="..." style="height: 480px; padding: 5%;">
                </div>
                <div class="col-md-6">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">亲子幼儿组：本地插班营（4—8岁）</h5>
                      <p class="card-text">本年龄段为亲子游，即营员必须由家长陪同来加。小家伙们将被分配到同年龄段的本地孩子营。营地活动课程有STEAM（科学，技术，工程、艺术和数学的总称）、丛林探索、蒙特利尔探索等。</p>
                  </div>
                </div>
            </div>               
        </div>  
        <!-- 国际组 -->
        <div class="compus-intel">
            <div class="acontainer">
                <div class="">
                    <h1>麦吉尔大学国际夏令营</h1>
                </div>
            </div>
        </div> 
        <div class="card mb-3" style="margin: 5%; padding: 5%;">
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6">
                    <img src="../images/ali-camp.jpg" class="card-img shadow-lg" alt="..." style="height: 480px; padding: 5%;">
                </div>
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">语言学习营（英、法语自选）</h5>
                      <p class="card-text">夏令营为来自全球的10-16岁学生提供毕生难忘的英语和法语学习机会，并为他们带来与加拿大孩子共度夏令营的愉快体验。我们鼓励夏令营学员积极参与并学习新的语言和体育活动，更加深入地了解不同的文化价值观和传统，让个性在集体环境中得到充分发展。</p>
                  </div>
                </div>

            </div>
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">语言营+运动营</h5>
                      <p class="card-text">麦吉尔大学的运动夏令营是一个具有多年历史的传统夏令营，深受加拿大当地孩子推崇。参加语言营和运动营的同学将每天半天学习语言，半天参加运动。运动尤其是团体运动是提升孩子英语使用能力和结交当地朋友的最好的渠道。</p>
                  </div>
                </div>
                <div class="col-md-6">
                    <img src="../images/ali-camp3.jpg" class="card-img shadow-lg" alt="..." style="height: 480px; padding: 5%;">
                </div>
            </div>
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6">
                  <img src="../images/ali-camp5.jpg" class="card-img shadow-lg" alt="..." style="height: 480px; padding: 5%;">
                </div>
                <div class="col-md-6">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">语言营+运动营+机器人营</h5>
                      <p class="card-text">这个三项组合营让孩子们能充分体验到我们各个单项营的精华，让孩子们的假期精彩绝伦。</p>
                  </div>
                </div>
            </div>               
        </div>
        <!-- <div class="compus-body">
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
        </div> -->
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>