<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
    <!-- <style type="text/css"> .ae_data .elementor-editor-element-setting {
        display:none !important;
    }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.2-hope.com/wp-content/uploads/fbrfg/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.2-hope.com/wp-content/uploads/fbrfg/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.2-hope.com/wp-content/uploads/fbrfg/favicon-16x16.png">
    <link rel="manifest" href="https://www.2-hope.com/wp-content/uploads/fbrfg/site.webmanifest">
    <link rel="mask-icon" href="https://www.2-hope.com/wp-content/uploads/fbrfg/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://www.2-hope.com/wp-content/uploads/fbrfg/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/wp-content/uploads/fbrfg/browserconfig.xml">
    <meta name="theme-color" content="#ffffff"><meta name="viewport" content="width=device-width, initial-scale=1"> -->
    
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>
    <div class="bg-info">
        <div class="acontainer bg-secondary text-center">
            <div class="text-light">
                <h1>魁省PEQ留学项目常见问题答疑</h1>
            </div>
        </div>
        <div class="text-board shadow">
            <div class="text-header-faq">
                <div class="text-light text-center">
                    <h2>关于魁省经验移民PEQ政策</h2>
                </div>
                <div class="text-danger">
                    <h5>请注意：移民政策由政府制定，本站只做简要解释以方便有语言障碍的人士做大致了解，并不能对今后政策变动与否做出任何保证，请务必知悉！！！</h5>
                </div>
            </div>

            <div class="text-info">
                <div id="accordion">
                    <div class="card shadow">
                      <div class="card-header bg-info shadow" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            什么是PEQ移民？
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            PEQ是法语Programme de l’expérience québécoise 的缩写，全称翻译成中文为魁北克经验移民。主要针对①在魁省毕业的留学生以及②已经在魁省工作了一年以上的劳工。
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header bg-info shadow" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            PEQ移民是否有年龄限制？
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            魁省经验移民(PEQ)的申请人只需年满18周岁即可，年龄没有上限
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header bg-info" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            PEQ移民的关键要求是什么？
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            PEQ政策最重要的要求有两项，其一是学历：移民局规定，在魁省毕业的本科、硕士、博士、大专以及学制达到1800学时的职业教育毕业生。其二是法语，移民局规定必须达到中级听说水平才具备申请资格。
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info shadow" id="headingFour">
                          <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                PEQ需要打分吗？
                            </button>
                          </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                          <div class="card-body">
                            PEQ可以理解为魁省移民的快速通道，不用打分。只要达到移民局规定的要件就能获得相当于魁省省提名的CSQ, 即魁省甄选合格证，所需材料超级简单。
                          </div>
                        </div>
                    </div>
                    <div class="card shadow">
                    <div class="card-header bg-info shadow" id="headingFive">
                        <h5 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            PEQ移民周期要多长？
                        </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                        CSQ（即魁省省提名）的颁发主要取决于申请人的法语学习情况，1800学时的专业课一般历时一年半。一般情况下，留学生专业课与法语学习齐头并进，如果专业课毕业时就能考过法语B2, 那提交申请后快则一周慢则一个月就能获得CSQ。获得CSQ后再提交联邦申请，目前联邦阶段的平均等待时间为18个月，如果申请人过往经历中涉及过可能威胁到加拿大国家安全的工作，可能会遭到背景调查而导致移民进程的拖延。所以如果学生专业课毕业就能携法语成绩提交CSQ申请，又没有涉及过与国家安全相关的工作，没有犯罪记录，那么从开始留学到拿到移民身份大约需要三年。
                        </div>
                    </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info" id="headingSix">
                            <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                PEQ是一人留学全家都能移民吗？
                            </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">
                                是的，如果留学生有配偶或孩子，那么他/她毕业后申请CSQ的时候就可以携配偶和孩子一起申请，是真正的一人留学全家移民。当然这个全家仅限于留学生夫妇和他们未成年子女构成的小家庭。
                            </div>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info shadow" id="headingSeven">
                            <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                PEQ政策稳定吗？以后是否会有变动？
                            </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                            <div class="card-body">
                                移民政策由政府制定，非任何个人能左右。从大趋势看，魁省移民政策的发展倾向于让那些已经在魁省生活、学习的人更容易地留下来，尤其是留学生及其家属。到目前为止，这项政策除了严格了对法语的要求（2016年以前只要提交法语认证班合格成绩单即可获批CSQ，2016年出现某些留学生因CSQ申请材料有问题被移民官电话询问，却无法用法语回答，导致移民官怀疑而启动大规模的法语能力审查至今），在其他方面并没有收紧，甚至还释放出更加宽松的信号，比如以前留学生的配偶无权作为主申提交申请，现在配偶也可以提交了。所以如果留学生本人由于某些原因不能作为主申请人，而配偶能满足条件（在魁省工作一年以上，法语听说达到B2)，那么配偶就可以作为主申。夫妻合力，胜算更大。
                            </div>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info" id="headingEight">
                            <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                什么是CSQ?
                            </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                            <div class="card-body">
                                CSQ是 Quebec Selection Certificate 的简写形式，意即魁北克甄选资格证，也就是魁省省提名。
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="text-board shadow">
            <div class="text-header-faq">
                <div class="text-light text-center">
                    <h2>关于PEQ职业教育留学项目</h2>
                </div>
                <div class="text-center text-light" style="margin-top: 10px;">
                    <h5>通过短期留学的方式实现移民</h5>
                </div>
            </div>

            <div class="text-info">
                <div id="accordion">
                    <div class="card shadow">
                      <div class="card-header bg-info shadow" id="headingOneLearn">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder" data-toggle="collapse" data-target="#collapseOneLearn" aria-expanded="true" aria-controls="collapseOneLearn">
                            PEQ留学移民与其他移民相比有什么特点？
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOneLearn" class="collapse show" aria-labelledby="headingOneLearn" data-parent="#accordion">
                        <div class="card-body">
                            与投资移民和普通技术移民相比，PEQ留学项目具有以下几个明显的优势：<br>

1，费用低廉、速度快捷。走留学的通道，只要办好签证即可立即启程，有家庭的可以拖家带口一起登陆，无需浪费宝贵的时间等待；<br>
2，学签持有人每周可合法打工20小时（具体以学习许可上的说明为准）；<br>
3，学签持有人有配偶的其配偶会获得配偶工签，可合法工作；<br>
4，学签持有人有孩子的其孩子可以免费入读公立学校；<br>
5，登陆满18个月后未成年的孩子可享受加拿大的儿童牛奶金；<br>
6，对于留学生上学期间支付的学费，政府会在该学生参加工作后以抵税的方式返还给本人一部分额度；<br>
7，1800学时的职业教育毕业生将可获得三年工签，毕业后可在魁省工作。留学生本人参加工作后，配偶即可申请配偶工签；<br>
8，学生毕业后可携配偶及未成年子女全家申请移民，即一人留学，全家移民；<br>
9，如留学生本人因特殊情况不能作为主申请人，配偶能满足条件的也可以配偶作为主申请人申请。<br>

可以说，没有哪个项目比魁省的PEQ项目还厚道。<br>
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header bg-info shadow" id="headingTwoLearn">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseTwoLearn" aria-expanded="false" aria-controls="collapseTwoLearn">
                            为什么留学移民越来越受欢迎？
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwoLearn" class="collapse" aria-labelledby="headingTwoLearn" data-parent="#accordion">
                        <div class="card-body">
                                随着常规移民项目各项政策的逐渐收紧或不断波动，留学生移民通道在加拿大移民领域逐渐成为一枝独秀，越来越多的潜在申请者选择通过留学达到移民的目的。这背后的原因应该是在实行了多年的宽松移民政策后，政府发现留学生在适应当地生活方面远比投资移民或普通技术移民表现得好。这个不难理解，毕竟在提交移民申请前留学生已经在这里完成了学业，肯定是比旱地拔葱的申请者占据太大的优势。所以加拿大的移民政策越来越倾向于优先考虑留学生申请人，政府要让那些已经在这片土地上成功生活下来的人更便利的留下来，所以对学签持有人推出了一系列友好政策。<br>
                                对于申请人本人来说，不用经受漫长的等待煎熬，通过学习又获得了当地认可的学历，毕业后立即就能进入就业市场，等于在对移民的整个追求和审理期间，本人都已经在加国生活，登陆期大大提前。魁省的经验移民PEQ项目除了要求学习法语以外，其他学习内容对国人来说都不难掌握，所以近几年来，这个项目涌入大量中国学生。
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header bg-info" id="headingThreeLearn">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseThreeLearn" aria-expanded="false" aria-controls="collapseThreeLearn">
                            PEQ职业教育招生条件是什么 ?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThreeLearn" class="collapse" aria-labelledby="headingThreeLearn" data-parent="#accordion">
                        <div class="card-body">
                            1，年龄：申请人是在开课前必须年满16 岁，年龄没有上限。<br>

2，学历：高中毕业或相当学历，顺利完成高中一年级学业的在读生也可以（由于各地学制不完全相同，具体请咨询我们）申请。
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info shadow" id="headingFourLearn">
                          <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder" data-toggle="collapse" data-target="#collapseFourLearn" aria-expanded="true" aria-controls="collapseFourLearn">
                                职业教育是什么文凭 ?
                            </button>
                          </h5>
                        </div>
                        <div id="collapseFourLearn" class="collapse" aria-labelledby="headingFourLearn" data-parent="#accordion">
                          <div class="card-body">
                            职业教育的文凭为DEP（Diploma of vocational studies）。加拿大实行严格的职业准入制度，很多职业如药剂师、电工、文秘、设计师等都必须先接受正规的职业教育凭毕业文凭才能进入相关行业。
                          </div>
                        </div>
                    </div>
                    <div class="card shadow">
                    <div class="card-header bg-info shadow" id="headingFiveLearn">
                        <h5 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseFiveLearn" aria-expanded="false" aria-controls="collapseFiveLearn">
                            职业教育毕业后都能做什么 ?
                        </button>
                        </h5>
                    </div>
                    <div id="collapseFiveLearn" class="collapse" aria-labelledby="headingFiveLearn" data-parent="#accordion">
                        <div class="card-body">
                            职业教育的毕业生进入人才市场后会成为各个行业的初级劳动者，可能是蓝领，也可能是白领。加拿大没有“万般皆下品，惟有读书高”的意识形态，同样的级别，蓝领工人的工资比白领高出许多，工作环境、福利和就业保障都受法律严格保护，很多无意走学术道路的人都选择职业教育，像电工、水暖工、汽车机师等在华人意识里不登大雅之堂的职业在这里都可以养房、养车、养娃毫无压力，而加拿大最缺少、最欢迎的的也是技术工人。
                        </div>
                    </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info" id="headingSixLearn">
                            <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseSixLearn" aria-expanded="false" aria-controls="collapseSixLearn">
                                职业教育都有哪些专业 ?
                            </button>
                            </h5>
                        </div>
                        <div id="collapseSixLearn" class="collapse" aria-labelledby="headingSixLearn" data-parent="#accordion">
                            <div class="card-body">
                                我们与魁省多家教育局合作，提供数十个专业的项目，包括工业自动化、工业制图、平面设计、美容美发、烹饪、文秘、焊接、汽车维修、珠宝设计等，具体专业与课程可参考网页
                            </div>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info shadow" id="headingSevenLearn">
                            <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseSevenLearn" aria-expanded="false" aria-controls="collapseSevenLearn">
                                职业教育的学制和学费如何 ?
                            </button>
                            </h5>
                        </div>
                        <div id="collapseSevenLearn" class="collapse" aria-labelledby="headingSevenLearn" data-parent="#accordion">
                            <div class="card-body">
                                大多数1800学时的专业都历时一年半，学费总共在2万至2万5加元之间，个别专业有略高或略低的情况，请参见网页
                            </div>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info" id="headingEightLearn">
                            <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseEightLearn" aria-expanded="false" aria-controls="collapseEightLearn">
                                职业教育毕业后能留在加拿大工作吗？
                            </button>
                            </h5>
                        </div>
                        <div id="collapseEightLearn" class="collapse" aria-labelledby="headingEightLearn" data-parent="#accordion">
                            <div class="card-body">
                                可以。1800学时的职业教育项目毕业后会获得三年的毕业后工签，配偶也会获得同样时长的配偶工签。
                            </div>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info shadow" id="headingNightLearn">
                            <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseNightLearn" aria-expanded="false" aria-controls="collapseNightLearn">
                                学生签证可以打工吗？配偶可以打工吗？
                            </button>
                            </h5>
                        </div>
                        <div id="collapseNightLearn" class="collapse" aria-labelledby="headingNightLearn" data-parent="#accordion">
                            <div class="card-body">
                                持学生签证每周可工作20个小时（学签上面会有说明，以学签为准）。学生拿到学签后，配偶也可以拿到与学签有效期相等的配偶工签。
                            </div>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info" id="headingTenLearn">
                            <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseTenLearn" aria-expanded="false" aria-controls="collapseTenLearn">
                                在魁省好就业吗？
                            </button>
                            </h5>
                        </div>
                        <div id="collapseTenLearn" class="collapse" aria-labelledby="headingTenLearn" data-parent="#accordion">
                            <div class="card-body">
                                这几年，“用工荒”严重困扰魁北克，魁省需要大量技术工人，只要求职者可以用英语进行必要的沟通，找工作并不难。如果能够学好法语，那就更没困难了。<br>

目前PEQ项目存在的一个困扰是有一部分国人毕业后并不想进入就业市场，他们或者是有孩子需要照顾的妈妈，或者是拿到身份后想去大学继续深造的年轻人，或者是更愿意自立门户当老板，所以如何招募到真正愿意进入就业市场的潜在劳动者一直是各教育局迫切关注的课题。<br>

教育局开设的专业都是政府根据就业市场的需要每年按实际情况调整的，我们也希望帮助政府寻找到那些真正愿意进入就业市场的人，让魁省的这项良心项目能够既惠及学生也反哺社会。真心希望看到更多愿意到魁省工作的人士加入到这个项目中来。<br>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            
        </div>
        <div class="text-board shadow">
            <div class="text-header-faq">
                <div class="text-light text-center">
                    <h1>关于法语学习</h1>
                </div>
                <div class="text-center text-light" style="margin-top: 10px;">
                    <h5>自由在高处，好东西从来都不是唾手可得的</h5>
                </div>
            </div>

            <div class="text-info">
                <div id="accordion">
                    <div class="card shadow">
                      <div class="card-header bg-info shadow" id="headingOneFranch">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder" data-toggle="collapse" data-target="#collapseOneFranch" aria-expanded="true" aria-controls="collapseOneFranch">
                            必须要学法语吗?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOneFranch" class="collapse show" aria-labelledby="headingOneFranch" data-parent="#accordion">
                        <div class="card-body">
                            是的，除了必须要学习法语这个硬性规定不打折扣之外，PEQ经验移民的其他条件对于中国人来说都如探囊取物。<br>

很多国人都惧怕再学一门语言，其实只要你决定到国外生活，到哪里都涉及到语言的学习，除非是去新加坡这样的华语地区，否则去德国要学德语，去日本要学日语。即使如很多国人选择英语国家，以大多数同胞的英语积累仍然需要坚持不懈的努力才能逐渐适应当地的生活，包括我自己在内，而学习也并不像很多人臆想的那么难。<br>

观察那些在他国的土地上把事业做得风生水起的新移民，你会发现，他们无一不是说着流利的当地语言。我们中国人一个极大的掣肘之处就是很多人早早地就放弃了学习的意愿。其实与其拼命给孩子报辅导班期望孩子能一飞冲天，不如家长自己披荆斩棘为孩子闯出一条通天大路；与其一边抱怨生活中的一地鸡毛，一边将大把的时间挥霍到对自己前途毫无助益的事情上，不如“捐弃前嫌”，从今天开始提升自己。世上大凡珍贵的东西都需要努努力才能得到，唾手可得的东西大多是没有价值的。<br>
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header bg-info shadow" id="headingTwoFranch">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseTwoFranch" aria-expanded="false" aria-controls="collapseTwoFranch">
                            PEQ的学生都是有法语基础的吗？
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwoFranch" class="collapse" aria-labelledby="headingTwoFranch" data-parent="#accordion">
                        <div class="card-body">
                            绝对不是。所谓有法语基础的学生大致包括国内法语专业的毕业生和法国留学生，在实际情况中，这些学生占PEQ生源的十分之一都不到，绝大多数的学生都是法语零基础过来的，这其中既有尚未成年的高中学生，也有拖家带口的中年父母。为了追逐自己的梦想和家庭的希望，他们都是从牙牙学语开始，从ABCD启程，有很多人都在一番努力之下拿到了B2甚至更好的成绩。生活就像小马过河，难与易、苦与甜都要自己尝试过才能得出准确的结论，道听途说往往只会被一些消极的言论蒙蔽。
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header bg-info" id="headingThreeFranch">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseThreeFranch" aria-expanded="false" aria-controls="collapseThreeFranch">
                            去哪里学法语 ?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThreeFranch" class="collapse" aria-labelledby="headingThreeFranch" data-parent="#accordion">
                        <div class="card-body">
                            职业教育的各个学校都提供法语课程，魁省主要城市市面上也有多如牛毛的培训机构，网上也有形形色色的网课，学生可以自由选择。
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info shadow" id="headingFourFranch">
                          <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder" data-toggle="collapse" data-target="#collapseFourFranch" aria-expanded="true" aria-controls="collapseFourFranch">
                                法语学多久能达到中级(B2)?
                            </button>
                          </h5>
                        </div>
                        <div id="collapseFourFranch" class="collapse" aria-labelledby="headingFourFranch" data-parent="#accordion">
                          <div class="card-body">
                            由于个体之间的差异，很难给出一个定论说多久能达到中级，但是以我个人的经验，勤奋善思的同学用一年半的时间是足以考到B2的。我的孩子也是零基础来到魁省，从学字母到考中学只有一年的时间，他也考上了不错的中学，已经远超越了B2的水平。也有和他情况类似但比他考的还好的孩子，当然也有一些孩子连欢迎班（就是语言班）都出不了，一切都是事在人为。市面上充斥着“三个月零基础到B2”的广告，我只能提醒大家远离一夜暴富的诱惑，踏踏实实地生活。
                          </div>
                        </div>
                    </div>
                    <div class="card shadow">
                    <div class="card-header bg-info shadow" id="headingFiveFranch">
                        <h5 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseFiveFranch" aria-expanded="false" aria-controls="collapseFiveFranch">
                            从什么时候开始学法语 ?
                        </button>
                        </h5>
                    </div>
                    <div id="collapseFiveFranch" class="collapse" aria-labelledby="headingFiveFranch" data-parent="#accordion">
                        <div class="card-body">
                            这个自己决定。您可以提早启程，在国内就开始学习，您在国内准备的越充分，到达异国之后就会越从容，国内老师的教学方法也比较适合国人的特点。您也可以到达魁省之后再开始。无论您何时开始，作为过来人，我都建议您学习法语从语音开始。
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="text-board shadow">
            <div class="text-header-faq">
                <div class="text-light text-center">
                    <h1>关于魁省生活</h1>
                </div>
                <div class="text-center text-light" style="margin-top: 10px;">
                    <h5>春有百花秋有月 夏有凉风冬有雪</h5>
                </div>
            </div>

            <div class="text-info">
                <div id="accordion">
                    <div class="card shadow">
                      <div class="card-header bg-info shadow" id="headingOneQue">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder" data-toggle="collapse" data-target="#collapseOneQue" aria-expanded="true" aria-controls="collapseOneQue">
                            魁省的生活费用高不高 ?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOneQue" class="collapse show" aria-labelledby="headingOneQue" data-parent="#accordion">
                        <div class="card-body">
                            与加拿大其他省份比较，魁北克的生活费用算是低廉的。如果与人合租，一个房间的月租金大约在400-500加元，一居室的公寓在600-800加元，两居室1000加元左右。食品价格换算成人民币与国内差不多。超市繁多，每个超市每周都会促销不同的商品，我自己和孩子两口人每个月用在食品上的费用大概在500加元，感觉和在国内时差不多。
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header bg-info shadow" id="headingTwoQue">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseTwoQue" aria-expanded="false" aria-controls="collapseTwoQue">
                            魁北克很冷吗?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwoQue" class="collapse" aria-labelledby="headingTwoQue" data-parent="#accordion">
                        <div class="card-body">
                            如果只从体感温度上讲，蒙特利尔并不比北京冷太多。两地入冬的时间和节奏都差不多，11月和12月份的两地温度不相上下，只是这里的冬季要长一些。国内春节之后就开春了，这里的冬天要持续到四月底五月初。加拿大这个资源丰富的北方国家在与寒冷作战方面颇有建树。冬季室外虽冷，但所有室内场所都温暖如春。很多公交车的座椅甚至都带电加热的。冬季降雪量虽大，但市政的清扫工作都无可挑剔，人行道上都会有工人及时清扫并撒上小石子防滑。我自己来的第一年冬天都是穿长及脚踝的羽绒大袍，现在老了几岁，反倒改成一件半大衣过冬了，所以人是需要锻炼、也是能锻炼出来的。
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                      <div class="card-header bg-info" id="headingThreeQue">
                        <h5 class="mb-0">
                          <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseThreeQue" aria-expanded="false" aria-controls="collapseThreeQue">
                            父母有学签孩子可以免费上学吗 ?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThreeQue" class="collapse" aria-labelledby="headingThreeQue" data-parent="#accordion">
                        <div class="card-body">
                            父母有学签，子女可免费入读公立中小学学校。可以自选英语公立校或法语公立校。
                        </div>
                      </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header bg-info shadow" id="headingFourLearn">
                          <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder" data-toggle="collapse" data-target="#collapseFourQue" aria-expanded="true" aria-controls="collapseFourQue">
                                不会法语是否能在当地生活 ?
                            </button>
                          </h5>
                        </div>
                        <div id="collapseFourQue" class="collapse" aria-labelledby="headingFourQue" data-parent="#accordion">
                          <div class="card-body">
                            新居民不用过于担心语言的问题。蒙特利尔是个双语城市，所有服务机构，超市、医院、政府部门的工作人员都至少操英法两种语言，所以用英语交流即可。随着法语知识的逐渐积累，生活也会越来越轻松。
                          </div>
                        </div>
                    </div>
                    <div class="card shadow">
                    <div class="card-header bg-info shadow" id="headingFiveQue">
                        <h5 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none text-light font-weight-bolder collapsed" data-toggle="collapse" data-target="#collapseFiveQue" aria-expanded="false" aria-controls="collapseFiveQue">
                            国内的驾照在魁省能用吗 ?
                        </button>
                        </h5>
                    </div>
                    <div id="collapseFiveQue" class="collapse" aria-labelledby="headingFiveQue" data-parent="#accordion">
                        <div class="card-body">
                            留学生在学签有效期内都可以使用国内的驾照。
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>


    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>