<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
    
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>
    <div class="bg-info text-center">
        <!-- <h1>法语——开启加拿大之门的金钥匙</h1> -->
        <div class="compus-intel">
            <div class="acontainer">
                <div class="">
                    <h1>法语——开启加拿大之门的金钥匙</h1>
                </div>
            </div>
        </div> 
        <div class="card mb-3" style="margin: 5%; padding: 8%;">
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6">
                    <img src="../images/home10.jpg" class="card-img shadow-lg" alt="..." style="width:500px;height: 400px; padding: 3%;">
                </div>
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">欧洲与美洲的十字路口</h5>
                      <p class="card-text">魁北克（Québec）被称为欧洲与美洲的十字路口。由于历史的原因，这里就像是法国的一块飞地，远离欧洲大陆，却在文化上与法国一脉相承，遥相呼应。最关键的是，魁北克拥有全加最宽松的移民政策。只要你愿意学习法语，愿意与魁北克人有“共同语言”，移民局对其他方面的要求几乎可以说微乎其微。其实这也不难理解，语言对于一个民族的存续可以说是最关键的要素，语言一旦消失，民族也就失去了最大的共性，犹如皮之不存，毛将焉附。因此魁省人把你是否愿意讲法语、是否能够讲好法语看成你是否真心与他们结盟的试金石。只要愿意攻克法语，你会发现魁省的经验移民政策，即所谓的PEQ，真的是好到没朋友。</p>
                  </div>
                </div>

            </div>
            <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
                <div class="col-md-6 align-items-center">
                  <div class="card-body" style="padding: 5%;">
                      <h5 class="card-title" style="font-size: 30px;">渡人渡己</h5>
                      <p class="card-text">中西教育的负责人Michelle是法语科班出身，早年曾担任国际广播电台的法语节目主持人和国际新闻记者。在与大量PEQ留学生交往中，我见证了他们对法语的追求，也了解他们在法语学习过程中出现的问题。我希望经我们这个平台来加的留学生都能比较顺利地实现自己的梦想，而不是因为法语功亏一篑。我愿意在这方面随时与你交流，帮大家少走一些弯路。如果有需要，我会根据情况酌情开设一些法语课程。我希望做一叶扁舟，或是一座渡桥，助你抵达梦想彼岸，当然这期间也离不开你脚踏实地的努力。</p>
                  </div>
                </div>
                <div class="col-md-6">
                    <img src="../images/法语学习4.jpg" class="card-img shadow-lg" alt="..." style="width:500px;height: 400px; padding: 3%;">
                </div>
            </div>              
        </div>
        <div class="franchbody bg-info text-light align-content-center mx-auto px-auto">
            <div class="row justify-content-md-center">
                <div class="franch-beauty-tittle">
                    <h1>法语是世界上最浪漫的语言</h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="franch-beauty-phrase">
                    <p >
                        都德曾经说法语是世界上最美丽的语言，我认为它美不过中文，但是法语绝对是世界上最温情浪漫的语言。看看法国国庆阅兵式上的乌龙阵，宪兵人仰马翻，飞机拉错彩烟，法国人一笑置之。仪式本就是搏人一乐，何必上纲上线？法国人就连游行示威都不忘捎带着寻一段尘缘，这厢还穿着黄马甲那厢就势披上白婚纱，网友评论“果然很法国”。看看新郎略显羞涩的背影，他大概做梦也没想到自己成了这场革命最大的赢家吧？拥抱法语吧，你都想不到它能给你带来什么
                    </p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="franch-beauty-img">
                    <img src="../images/法语学习9.jpg" alt="">
                </div>
            </div>


        </div>
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>