<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
    
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>
    <div class="bg-info">
          <div class="container pt-20 mb-auto bg-info shadow-lg" style="margin-top: 100px; margin-bottom: 30px;">
            <!-- <img src="./images/.." alt=""> -->
            <div class="row" style="margin-top: 30px; padding-top: 60px; padding-bottom: 60px;">
              <div class="col-md-4">
                <div class="card justify-content-center text-right text-light shadow">
                  <div class="inner">
                    <img src="./images/study-in-canada-mobile.jpg" class="card-img img-fluid rounded" alt="..." style="height:500px; width: 420px">
                    <div class="card-img-overlay" style="font-weight: bolder;">
                      <h2 class="card-title" style="font-weight: bolder;">标题标题</h2>
                      <a href="#" class="btn btn-warning ">详情</a>
                    </div>
                  </div>

                  </div>
              </div>
              <div class="col-md-4">
                <div class="card justify-content-center text-right text-light shadow">
                  <div class="inner">
                    <img src="./images/Nurse-home.jpg" class="card-img img-fluid rounded" alt="..." style="height:500px; width: 420px">
                    <div class="card-img-overlay align-self-end" style="font-weight: bolder;">
                        <h2 class="card-title" style="font-weight: bolder;">职业教育</h2>
                        <p class="card-text">随便舒服的输入一些信息</p>
                        <a href="#" class="btn btn-warning">详情</a>
  
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="card justify-content-center text-right text-light shadow">
                  <div class="inner">
                    <img src="./images/fish-home.jpg" class="card-img img-fluid rounded" alt="..." style="height:500px; width: 420px">
                    <div class="card-img-overlay" style="font-weight: bolder;">
                      <h2 class="card-title" style="font-weight: bolder;">竞争优势</h2>
                      <p class="card-text">随便舒服的输入一些信息</p>
                      <a href="#" class="btn btn-warning">详情</a>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="row p3" style="margin-top: 30px; margin-bottom: 80px; padding-bottom: 60px; padding-top: 50px;">
              <div class="col-md-4">
                <div class="card justify-content-center" style="width: 18rem;">
                <img src="./images/emsb-300x186.jpg" class="card-img-top img-fluid rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title">标题标题</h5>
                  <p class="card-text">随便舒服的输入一些信息</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">详情</a>
                </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./images/Speed-limits-300x200.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">标题标题</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="btn btn-primary">详情</a>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./images/exam-300x225.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">text.</p>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="btn btn-primary">详情</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>