<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
    
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>
    <div class="container" id="bg-tree">
      <div class="row">
        <div class="col-md-2" style="height: 250px;"></div>
        <div class="col-md-8 text-light" >
          <p>
            <div class="tree-text">
              <h4>教育给你隐形的翅膀</h4>
              <h4>学习是通往自由的签证</h4>
              <h4>人生最美好的就是</h4>
              <h4>在一番耕耘和耐心等待之后</h4>
              <h4>终于迎来生命中的一树花开</h4>
              <h2>   </h2>
              <br /><br />
              <h2 style="text-align: right;">——中西教育</h3>
            </div>
          </p>            
        </div>
        <div class="col-md-2" style="height: 10px;"></div>
      </div>
    </div>
    <div class="bg-info ">
          <div class="container pt-20 mb-auto bg-info shadow-lg" style="margin-top: 100px; margin-bottom: 30px;">

            <div class="row" style="margin-top: 30px; padding-top: 60px; padding-bottom: 60px;">
              <div class="col-md-4">
                <div class="card justify-content-center text-right text-light shadow">
                  <div class="inner">
                    <img src="./images/study-in-canada-mobile.jpg" class="card-img img-fluid rounded" alt="..." style="height:500px; width: 420px">
                    <div class="card-img-overlay" style="font-weight: bolder;">
                      <div class="card-title">
                        <h3 class="card-title-bg font-weight-bolder" style="font-weight: bolder;">年龄不限 经历不限<br>子女陪读 配偶工签</h3>                      
                        <a href="#" class="btn btn-lg btn-warning ">详情</a>
                      </div>

                    </div>
                  </div>

                  </div>
              </div>
              <div class="col-md-4">
                <div class="card justify-content-center text-right text-light shadow">
                  <div class="inner">
                    <img src="./images/Nurse-home.jpg" class="card-img img-fluid rounded" alt="..." style="height:500px; width: 420px">
                    <div class="card-img-overlay align-self-end">
                      <div class="card-title">
                        <h3 class="card-title-bg">纵身一跃<br>海阔天空</h3>
                        <a href="#" class="btn btn-lg btn-warning">详情</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="card justify-content-center text-right text-light shadow">
                  <div class="inner">
                    <img src="./images/fish-home.jpg" class="card-img img-fluid rounded" alt="..." style="height:500px; width: 420px">
                    <div class="card-img-overlay">
                      <div class="card-title">
                        <h3 class="card-title-bg">紧俏专业  无缝融合<br>经济省时  福利多多</h3>
                        <a href="#" class="btn btn-lg btn-warning text-right">详情</a>
                      </div>
                      
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="row p3 justify-content-center" style="margin-top: 30px; margin-bottom: 80px; padding: 50px 60px;">
              <div class="card-group">
                <div class="col-lg-4">
                  <div class="img-card-show">
                    <div class="card  shadow-lg justify-content-center" style="width: 20rem;">
                      <img src="./images/emsb-300x186.jpg" class="card-img-top img-fluid rounded" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">公立英语教育局EMSB</h5>
                        <!-- <p class="card-text">随便舒服的输入一些信息</p> -->
                      </div>
                      <div class="card-footer text-right btn-lg">
                        <a href="#" class="btn btn-warning ">详情...</a>
                      </div>
                      </div>
                  </div>

                </div>
                <div class="col-lg-4">
                  <div class="img-card-show">
                    <div class="card shadow justify-content-center" style="width: 20rem;">
                      <img src="./images/Speed-limits-300x200.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">关于魁省驾照</h5>
                        </div>
                        <div class="card-footer text-right">
                          <a href="#" class="btn btn-warning">详情</a>
                        </div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-4">
                  <div class="img-card-show">
                    <div class="card shadow justify-content-center" style="width: 20rem;">
                      <img src="./images/exam-300x225.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">移民局认可的几种法语水平考试</h5>
                      </div>
                      <div class="card-footer text-right">
                        <a href="#" class="btn btn-warning">详情</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>