<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
</head>
<body>
    <div class="bg-info">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
          <div class="container">
            <!-- <img src="./images/.." alt=""> -->
            <div class="row">
              <div class="jumbotron">
                <h1 class="display-4">走进加拿大</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-md-4">
                <figure class="figure">
                  <img src="images/study-in-canada-mobile.jpg" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                </figure>
              </div>
              <div class="col-md-4">
                <figure class="figure">
                  <img src="images/Nurse-home.jpg" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                </figure>
              </div>
              <div class="col-md-4">
                <figure class="figure">
                  <img src="images/fish-home.jpg" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption text-right display-4 text-light font-weight-bolder">A caption for the above image.</figcaption>
                </figure>
              </div>

            </div>
            <div class="row">
              <div class="col-4">
                <div class="card" style="width: 18rem;">
                <img src="./images/emsb-300x186.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 18rem;">
                  <img src="./images/Speed-limits-300x200.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 18rem;">
                  <img src="./images/exam-300x225.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">text.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>