<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
    
</head>
<body>
    <div class="bg-info">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
          <div class="container mt-50 pt-20 mb-auto">
            <!-- <img src="./images/.." alt=""> -->
            <div class="row p-3">
              <div class="col-md-4">
                <figure class="figure">
                  <img src="images/study-in-canada-mobile.jpg" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption display-2 text-light font-weight-bolder">文化融入</figcaption>
                </figure>
              </div>
              <div class="col-md-4">
                <figure class="figure">
                  <img src="images/Nurse-home.jpg" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption display-2 text-light font-weight-bolder">职业发展</figcaption>
                </figure>
              </div>
              <div class="col-md-4">
                <figure class="figure">
                  <img src="images/fish-home.jpg" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption display-2 text-light font-weight-bolder">竞争优势</figcaption>
                </figure>
              </div>

            </div>
            <div class="row p3">
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                <img src="./images/emsb-300x186.jpg" class="card-img-top img-fluid rounded" alt="...">
                <div class="card-body">
                  <h5 class="card-title">标题标题</h5>
                  <p class="card-text">随便舒服的输入一些信息</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./images/Speed-limits-300x200.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">标题标题</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="./images/exam-300x225.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">text.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>