<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylysheet/element.css">
    <%- include('header'); -%>
    
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>

        <section class="bg-info elementor-element elementor-element-684dd5b9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="684dd5b9" data-element_type="section" style="margin-top: 60px;">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="elementor-element elementor-element-4e9946e4 elementor-column elementor-col-33 elementor-top-column" data-id="4e9946e4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-6e167121 elementor-flip-box--3d elementor-flip-box--effect-flip elementor-flip-box--direction-up elementor-widget elementor-widget-flip-box" data-id="6e167121" data-element_type="widget" data-widget_type="flip-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-flip-box">
                                            <div class="elementor-flip-box__layer elementor-flip-box__front">
                                                <div class="elementor-flip-box__layer__overlay bg-info">
                                                    <div class="elementor-flip-box__layer__inner">
                                                        <div class="elementor-icon-wrapper elementor-view-default">
                                                            <div class="elementor-icon">
                                                                <i class="fa fa-clock-o"></i>
                                                            </div>
                                                        </div>
                                                        <h3 class="elementor-flip-box__layer__title">年龄不限</h3>
                                                        <div class="elementor-flip-box__layer__description">
                                                            年龄没有上限，大龄人士的福音							
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-flip-box__layer elementor-flip-box__back">
                                                <div class="elementor-flip-box__layer__overlay">
                                                    <div class="elementor-flip-box__layer__inner">   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2f505436 elementor-column elementor-col-33 elementor-top-column" data-id="2f505436" data-element_type="column">
                        <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-4429d56a elementor-flip-box--3d elementor-flip-box--effect-flip elementor-flip-box--direction-up elementor-widget elementor-widget-flip-box" data-id="4429d56a" data-element_type="widget" data-widget_type="flip-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-flip-box">
                                            <div class="elementor-flip-box__layer elementor-flip-box__front">
                                                <div class="elementor-flip-box__layer__overlay bg-info">
                                                    <div class="elementor-flip-box__layer__inner">
                                                        <div class="elementor-icon-wrapper elementor-view-default">
                                                            <div class="elementor-icon">
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>
                                                        <h3 class="elementor-flip-box__layer__title">
                        经历不限						</h3>
                
                                                        <div class="elementor-flip-box__layer__description">
                        无需高学历，亦无需厚家底							</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="elementor-91192" class="elementor-flip-box__layer elementor-flip-box__back">
                                                <div class="elementor-flip-box__layer__overlay">
                                                    <div class="elementor-flip-box__layer__inner">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-5e0b73d0 elementor-column elementor-col-33 elementor-top-column" data-id="5e0b73d0" data-element_type="column">
                        <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-6e8b91aa elementor-flip-box--3d elementor-flip-box--effect-flip elementor-flip-box--direction-up elementor-widget elementor-widget-flip-box" data-id="6e8b91aa" data-element_type="widget" data-widget_type="flip-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-flip-box">
                                            <div class="elementor-flip-box__layer elementor-flip-box__front">
                                                <div class="elementor-flip-box__layer__overlay bg-info">
                                                    <div class="elementor-flip-box__layer__inner">
                                                        <div class="elementor-icon-wrapper elementor-view-default">
                                                            <div class="elementor-icon">
                                                                <i class="fa fa-bookmark"></i>
                                                            </div>
                                                        </div>
                                                        <h3 class="elementor-flip-box__layer__title">
                        多快好省							</h3>
                                                        <div class="elementor-flip-box__layer__description">
                        最快者一年半拿到省提名							</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="elementor-91191" class="elementor-flip-box__layer elementor-flip-box__back">
                                                <div class="elementor-flip-box__layer__overlay">
                                                    <div class="elementor-flip-box__layer__inner">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="shadow elementor-element elementor-element-1571fb91 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="1571fb91" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="elementor-element elementor-element-11c243df elementor-column elementor-col-33 elementor-top-column" data-id="11c243df" data-element_type="column">
    <div class="elementor-column-wrap  elementor-element-populated">
            <div class="elementor-widget-wrap">
        <div class="elementor-element elementor-element-1161c8c3 elementor-flip-box--3d elementor-flip-box--effect-flip elementor-flip-box--direction-up elementor-widget elementor-widget-flip-box" data-id="1161c8c3" data-element_type="widget" data-widget_type="flip-box.default">
        <div class="elementor-widget-container">
            <div class="elementor-flip-box">
    <div class="elementor-flip-box__layer elementor-flip-box__front">
        <div class="elementor-flip-box__layer__overlay bg-info">
            <div class="elementor-flip-box__layer__inner">
                                            <div class="elementor-icon-wrapper elementor-view-default">
                        <div class="elementor-icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                    </div>
                
                                            <h3 class="elementor-flip-box__layer__title">
                        子女陪读							</h3>
                
                                            <div class="elementor-flip-box__layer__description">
                        父母持学签，子女免费入读公校							</div>
                                    </div>
        </div>
    </div>
    <div id="elementor-210001" class="elementor-flip-box__layer elementor-flip-box__back">
    <div class="elementor-flip-box__layer__overlay">
        <div class="elementor-flip-box__layer__inner">
            
            
                        </div>
</div>
</div>
</div>
        </div>
        </div>
                </div>
    </div>
</div>
        <div class="elementor-element elementor-element-581ed3e7 elementor-column elementor-col-33 elementor-top-column" data-id="581ed3e7" data-element_type="column">
    <div class="elementor-column-wrap  elementor-element-populated">
            <div class="elementor-widget-wrap">
        <div class="elementor-element elementor-element-7c77f07e elementor-flip-box--3d elementor-flip-box--effect-flip elementor-flip-box--direction-up elementor-widget elementor-widget-flip-box" data-id="7c77f07e" data-element_type="widget" data-widget_type="flip-box.default">
        <div class="elementor-widget-container">
            <div class="elementor-flip-box">
    <div class="elementor-flip-box__layer elementor-flip-box__front">
        <div class="elementor-flip-box__layer__overlay bg-info">
            <div class="elementor-flip-box__layer__inner">
                                            <div class="elementor-icon-wrapper elementor-view-default">
                        <div class="elementor-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                
                                            <h3 class="elementor-flip-box__layer__title">
                        配偶工签							</h3>
                
                                            <div class="elementor-flip-box__layer__description">
                        配偶享受工签，一工一读无压力							</div>
                                    </div>
        </div>
    </div>
    <div id="elementor-210002" class="elementor-flip-box__layer elementor-flip-box__back">
    <div class="elementor-flip-box__layer__overlay">
        <div class="elementor-flip-box__layer__inner">
            
            
                        </div>
</div>
</div>
</div>
        </div>
        </div>
                </div>
    </div>
</div>
        <div class="elementor-element elementor-element-38e0f24 elementor-column elementor-col-33 elementor-top-column" data-id="38e0f24" data-element_type="column">
    <div class="elementor-column-wrap  elementor-element-populated">
            <div class="elementor-widget-wrap">
        <div class="elementor-element elementor-element-2379814d elementor-flip-box--3d elementor-flip-box--effect-flip elementor-flip-box--direction-up elementor-widget elementor-widget-flip-box" data-id="2379814d" data-element_type="widget" data-widget_type="flip-box.default">
        <div class="elementor-widget-container">
            <div class="elementor-flip-box">
    <div class="elementor-flip-box__layer elementor-flip-box__front">
        <div class="elementor-flip-box__layer__overlay bg-info">
            <div class="elementor-flip-box__layer__inner">
                    <div class="elementor-icon-wrapper elementor-view-default">
                        <div class="elementor-icon">
                            <i class="fa fa-home"></i>
                        </div>
                    </div>
                
                            <h3 class="elementor-flip-box__layer__title">
                        全家总动员							</h3>
                
                                            <div class="elementor-flip-box__layer__description">
                        一人留学 全家获得移民资格							</div>
                                    </div>
        </div>
    </div>
    <div id="elementor-210003" class="elementor-flip-box__layer elementor-flip-box__back">
    <div class="elementor-flip-box__layer__overlay">
        <div class="elementor-flip-box__layer__inner">
            
            
                        </div>
</div>
</div>
</div>
        </div>
        </div>
                </div>
    </div>
</div>
                </div>
    </div>
        </section>

        <section class="shadow badge-secondary elementor-element elementor-element-5051b1ec elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5051b1ec" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="margin-top: 80px; padding-top: 80px;">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="elementor-element elementor-element-3bc212f7 elementor-column elementor-col-50 elementor-top-column" data-id="3bc212f7" data-element_type="column">
                        <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-17a2f44a elementor-widget elementor-widget-heading" data-id="17a2f44a" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">魁省经验移民政策简介</h3>		</div>
                                    </div>
                                <div class="elementor-element elementor-element-146c832e elementor-widget elementor-widget-text-editor" data-id="146c832e" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix"><p>魁省PEQ（Programme de l’expérience québécoise），也即魁北克经验移民政策，属于魁省经济类移民项目的一个分支。其他分支还有普通技术移民、投资移民等，但大都需要3-5年甚至更长的等待时间，所以不在本文讨论范畴。此处只介绍立即就能成行的经验移民项目，该项目又分魁省毕业生和魁省劳动者两个通道。</p><p>由于加拿大严格保护本国人的就业机会，加之在实际操作中北美与中国在诸多资格认证方面并不互认，所以从国内直接到加拿大工作对于绝大多数国人来说是不可能的事，留给大家的就剩下魁省毕业生这个通道，即通过短期留学的方式来取得移民局认可的移民申请资格。大家平时所说的peq留学项目指的就是这一种。这种方式最大的好处就是无需等待，随时报名即可成行，对于已经有家室的学生，一人留学便可实现全家移民。在此，我们就详细介绍下这个项目⇒</p></div>
                    </div>
                </div>
            </div>
        </div>
                    </div>
                    <div class="elementor-element elementor-element-7608a22 elementor-column elementor-col-50 elementor-top-column" data-id="7608a22" data-element_type="column">
                        <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-61b7f70b elementor-widget elementor-widget-heading" data-id="61b7f70b" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                    <h3 class="elementor-heading-title elementor-size-default">魁省毕业生移民申请人需具备：</h3>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-2070d89c elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="2070d89c" data-element_type="widget" data-widget_type="icon-list.default">
                                <div class="elementor-widget-container">
                                    <ul class="elementor-icon-list-items">
                                        <li class="elementor-icon-list-item">
                                            <span class="elementor-icon-list-icon">
                                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                    </span>
                                            <span class="elementor-icon-list-text">有意定居魁省工作</span>
                                        </li>
                                        <li class="elementor-icon-list-item">
                                            <span class="elementor-icon-list-icon">
                                                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </span>
                                            <span class="elementor-icon-list-text">以学习为目的在魁省短期居住并遵守当地法律</span>
                                        </li>
                            <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                    <span class="elementor-icon-list-text">学习期间有一半以上时间在魁省居住</span>
                                </li>
                            <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                    <span class="elementor-icon-list-text">持有符合要求的魁省毕业证</span>
                                </li>
                            <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                    <span class="elementor-icon-list-text">具备法语中级以上口语表达能力</span>
                                </li>
                            <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                    <span class="elementor-icon-list-text">可支持你及一同移民的家人3个月的生活费</span>
                                </li>
                            <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                    <span class="elementor-icon-list-text">年满18周岁，持有有效护照。如在魁省递交申请，递交时需具备魁省合法居留身份</span>
                                </li>
                            <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon">
                                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                                </span>
                                    <span class="elementor-icon-list-text">以上内容翻译自魁北克移民局官网，英语阅读无障碍的同学可以自己去查阅</span>
                                </li>
                    </ul>
            </div>
            </div>
                    </div>
        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="shadow bg-info w-100 elementor-element elementor-element-e18587f elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section text-center" data-id="e18587f" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-element elementor-element-2f86871 elementor-column elementor-col-100 elementor-top-column" data-id="2f86871" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-ffb8cc6 elementor-widget elementor-widget-heading" data-id="ffb8cc6" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">针对毕业证及法语的具体解释</h2>		
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-secondary shadow elementor-element elementor-element-5b0dcae2 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5b0dcae2" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="elementor-element elementor-element-5a892255 elementor-column elementor-col-50 elementor-top-column" data-id="5a892255" data-element_type="column">
                        <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-6cbd6725 elementor-widget elementor-widget-heading" data-id="6cbd6725" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">移民局认可的毕业证</h5>		
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-f223014 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="f223014" data-element_type="widget" data-widget_type="icon-list.default">
                                    <div class="elementor-widget-container">
                                        <ul class="elementor-icon-list-items">
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">成人职业教育，单一专业，课程必须达到1800学时</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">成人职业教育，两个相关专业，课程合计须达到1800学时（至于什么是相关专业，移民局有相关规范，不要私自拼接，否则不予认可）</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">大学专科</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">大学本科</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">硕士研究生</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">博士研究生</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="elementor-element elementor-element-79df23b elementor-column elementor-col-50 elementor-top-column" data-id="79df23b" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-6a5ce20 elementor-widget elementor-widget-heading" data-id="6a5ce20" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h5 class="elementor-heading-title elementor-size-default">关于法语</h5>		</div>
                            </div>
                            <div class="elementor-element elementor-element-23b12eb elementor-widget elementor-widget-text-editor" data-id="23b12eb" data-element_type="widget" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-text-editor elementor-clearfix"><p>如果所学专业为纯法语授课，只需提交课程合格的成绩单即可，无需参加其他考试。</p><p>如所学专业非纯法语授课，需要提供自己已经达到魁北克成人移民法语水平等级7级（即欧洲共同语言参考标准B2）以上的证明。</p><p>移民局认可的考试有：TEFAQ, TEF, TCF, DELF, DALF等。大多数同学都是考TEFAQ，因为TEFAQ可以只报考听说两项</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="shadow-lg elementor-element text-center elementor-element-919be17 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="919be17" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="margin-top:10px;">
            <div class="elementor-widget-wrap shadow-lg" id="elementor-policy-1">
                <h2 class="elementor-heading-title elementor-size-default"">PEQ项目让前途无限光明</h2>		
            </div>
        </section>


    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>