<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('header'); -%>
    
</head>
<body class="bg-info">
    <div class="bg-info shadow-lg">   
          <%- include('menu'); -%>
          <%- include('imgshow'); -%>
    </div>
    <div class="card mb-3" style="margin: 5%; padding: 5%;">
        <div class="row no-gutter" style="height: 90vh;">
          <div class="col-md-6 align-items-center">
            <img src="../images/school-teens-1.jpg" class="card-img shadow-lg" alt="..." style="height: 460px; padding: 5%; margin-top: 10%;">
          </div>
          <div class="col-md-6">
            <div class="card-body" style="padding: 5%;">
                <h5 class="card-title" style="font-size: 30px;">我们为您找寻--世界顶级教育</h5>
                <p class="card-text">我们与蒙特利尔英语教育局EMSB、东方公立英语教育局ETSB、新边界公立英语教育局NFSB等多家教育局合作，为国内学子对接优质学校，为求贤若渴的学校寻找品学兼优的学生。</p>
                <p class="card-text">蒙特利尔英语教育局是魁省最大的英语教育局，在蒙特利尔地区有70余所中小学，其中包括在魁省400余所中学内排名前30强的LaurenHill Academy和Royal West Academy中学。</p>
                <p class="card-text">东方公立英语教育局是加拿大首家为学生免费配备苹果笔记本电脑和wifi上网的公立教育局。根据PISA国际学生评估体系测评，该教育局的教学质量位居世界前10。</p>
                <p class="card-text">您有意送孩子出国留学吗？您需要为孩子选择什么样的学校？是地处繁华城市生活便利的，还是偏居幽静小镇不受外界干扰的？是英语教学的还是英法语双语教学的？欢迎您与我们联系以便我们为您提供更有针对性的详细内容。</p>
            </div>
          </div>
        </div>
        <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
            <div class="col-md-6 align-items-center">
              <div class="card-body" style="padding: 5%;">
                  <h5 class="card-title" style="font-size: 30px;">Alexandre Galt Regional High School</h5>
                  <p class="card-text">该校隶属于ETSB教育局，曾荣获贝尔科学竞赛奖。目前在册学生950余人，其中国际生的数量始终维持在50—100人，分别来自中国、德国、墨西哥、日本等国，在册教师95名。该校提供丰富多样的课程选择，配有国际学生宿舍和国际学生课程辅导。</p>
              </div>
            </div>
            <div class="col-md-6">
                <img src="../images/AGRHS2-1.jpg" class="card-img shadow-lg" alt="..." style="height: 400px; padding: 5%;">
              </div>
        </div>
        <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
            <div class="col-md-6">
              <img src="../images/MVHS2.jpg" class="card-img shadow-lg" alt="..." style="height: 400px; padding: 5%;">
            </div>
            <div class="col-md-6">
              <div class="card-body" style="padding: 5%;">
                  <h5 class="card-title" style="font-size: 30px;">Massey-Vanier High School</h5>
                  <p class="card-text">魁省排名提升最快的五所学校之一。在册学生约700余人，老师78人。该校对学生的帮助无微不至，设有校内辅导、小组辅导、一对一辅导、作业辅导等多项对学生的服务。</p>
              </div>
            </div>
        </div>
        <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
            <div class="col-md-6">
              <div class="card-body" style="padding: 5%;">
                  <h5 class="card-title" style="font-size: 30px;">Richmond Regional High School</h5>
                  <p class="card-text">该校在魁省400余所中学中排名前30。在册学生400人，教师35人。学校对学生的服务很完善，包括心理辅导、课业帮助、社工、校医等一应俱全，甚至还包括职业倾向测试，以帮助高年级学生发现自己的喜好和特长从而确定未来适合自己的职业。学校重视学生的体育，几乎每个月都有赛事。</p>
              </div>
            </div>
            <div class="col-md-6">
                <img src="../images/RRHS-1-1024x682.jpg" class="card-img shadow-lg" alt="..." style="height: 400px; padding: 5%;">
              </div>
        </div>
        <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
          <div class="col-md-6">
            <img src="../images/HSB2-1.jpg" class="card-img shadow-lg" alt="..." style="height: 400px; padding: 5%;">
          </div>
          <div class="col-md-6">
            <div class="card-body" style="padding: 5%;">
                <h5 class="card-title" style="font-size: 30px;">Howard S. Billings High School</h5>
                <p class="card-text">该校建校已有50余年，开设有IB国际文凭课程，在册学生1000人，老师100人。学校严格管理学习秩序，严厉处分校园欺凌行为。该校提供英法双语教学，课程项目内容丰富，重视学生的个性发展，力求关注到每一个孩子的需求。</p>
            </div>
          </div>
        </div>
        <div class="row no-gutter" style="height: 70vh; margin-top: 10%;">
          <div class="col-md-6">
            <div class="card-body" style="padding: 5%;">
                <h5 class="card-title" style="font-size: 30px;">Chateauguay Valley High School</h5>
                <p class="card-text">该校有丰富的文化体育活动，注重学生特长发展，艺术氛围极其浓厚，培养出不少加拿大知名的运动家、音乐家及演艺界人士，感兴趣的同学可以亲自查看学校网站。学校提供餐饮、校医、家庭作业及课业辅导等对学生的服务项目，并对国际学生设有课程辅导。目前该校在册学生约700人，老师70人。</p>
            </div>
          </div>
          <div class="col-md-6">
              <img src="../images/CVR.jpg" class="card-img shadow-lg" alt="..." style="height: 400px; padding: 5%;">
          </div>
        </div>                
    </div>
    <%- include('footer'); -%>
    <%- include('tail'); -%>
</body>
</html>